@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

/* 다크모드 기본 텍스트 색상 전역 적용 */
html:not(.dark) body {
  @apply text-BLACK;
  transition:
    color 1s ease-in-out,
    background-color 1s ease-in-out;
}

html.dark body {
  @apply text-GRAY_LIGHT;
  transition:
    color 1s ease-in-out,
    background-color 1s ease-in-out;
}

main {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
